<article>
  <section>
    <h1><a routerLink="/recipes/">Uppskriftir</a></h1>
    <p>
      @for (tag of recipeTags; track tag; let isLast = $last; let isFirst = $first) {
        <span>
          <a routerLink="/recipes" [queryParams]="{ tag: tag.name.toLowerCase() }">{{
            isFirst ? tag.name : tag.name.toLowerCase()
          }}</a>
          ({{ tag.count }})
          @if (!isLast) {
            <span>, </span>
          }
        </span>
      }
    </p>
    <p><a routerLink="/recipes/">Allar</a> ({{ allRecipes.length }})</p>
    @for (recipe of recipesToDisplay; track recipe) {
      <div>
        <h2>
          <a routerLink="/recipes/{{ recipe.slug }}">{{ recipe.name }}</a>
        </h2>
        <p>{{ recipe.description }}</p>
      </div>
    }
  </section>
  <section><a routerLink="/">Til baka á forsíðu</a></section>
</article>
